<header class="app-header">
  <div class="app-header-navigation">
    <div class="dashboard-submenu submenu">
      <a href="/dashboard">Overview</a>
      <a href="/dashboard">Payments</a>
      <a href="/dashboard">Cards</a>
      <a href="/dashboard">Account</a>
    </div>
    <div class="management-product-submenu submenu" style="display: none">
      <a href="/management-product">
        <span class="material-symbols-outlined"> package_2 </span>
        <span> Products</span>
      </a>
      <div class="submenu-item">
        <a href="/management-product/categories">
          <span class="material-symbols-outlined"> category </span>
          <span class="text"> Categories </span>
        </a>
      </div>
    </div>
    <div class="map-submenu submenu">
      <a href="/map">Map</a>
    </div>
  </div>
  <div class="app-header-actions">
    <div class="user-profile">
      <span class="text">Matheo Peterson</span>
      <div class="image">
        <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
      </div>
    </div>
    <div class="divider-line"></div>
    <div class="icons">
      <div class="icons-button">
        <i class="ph ph-magnifying-glass"></i>
      </div>
      <div class="icons-button">
        <i class="ph ph-bell"></i>
      </div>
    </div>
  </div>
</header>
