@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;

@mixin product-detail-image() {
  @include m.flex($direction: column, $justify: flex-start);
  gap: 10px;
  width: 40vw;

  .swiper.swiper-big {
    @include m.flex();
    width: 100%;
    height: 55vh;
    position: relative;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

    .swiper-wrapper {
      width: 100%;
      height: auto;

      .swiper-slide {
        @include m.flex();
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .swiper-nav-prev,
    .swiper-nav-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 2;
      padding: 0.6vw;
      border-radius: 50%;
      box-shadow: 0.5px 0.5px 5px rgba($color: #000, $alpha: 0.3);
      background-color: #34a0a4;
      transition: all ease-out 0.4s;

      i {
        color: #f8f4f0;
        font-size: 1.5vw;
        transform: translateY(1.5px);
      }

      &:hover {
        background-color: #0b787c;
      }
    }

    .swiper-nav-prev {
      left: 1.5vw;
    }

    .swiper-nav-next {
      right: 1.5vw;
    }
  }

  .swiper.swiper-small {
    @include m.flex();
    height: 15vh;
    width: 40vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;

    .swiper-wrapper {
      width: 100%;
      height: auto;
      
      .swiper-slide {
        @include m.flex();
        width: 100%;
        height: auto;
        filter: grayscale(0.92);
        
        &-thumb-active {
          filter: grayscale(0);
        }
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
