@use "../../../../helpers/mixins" as m;
@use "../../../../helpers/variables" as v;

@mixin tableProduct() {
  .product-dashboard {
    width: 100%;
    padding: 0.2vw;

    .header-product {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vw;
      h1 {
        font-size: 2vw;
      }

      .tambah {
        background-color: map-get($map: v.$color, $key: "light-cyan");
        color: map-get($map: v.$color, $key: "white");
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        font-size: 0.9em;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: map-get($map: v.$color, $key: "dark-cyan");
        }
      }
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12vw, 1fr));
      gap: 15px;
      overflow-y: auto;

      .product-item {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 8px;
        background-color: map-get($map: v.$color, $key: "light-cream");
        // text-align: center;
        flex: 0 1 calc(20% - 15px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .image {
          height: 30vh;
    
          img {
            border-top-left-radius: 0.7vw;
            border-top-right-radius: 0.7vw;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        h2 {
          font-size: 1.1em;
          color: map-get($map: v.$color, $key: "light-black");
        }

        p {
          font-size: 0.9em;
          color: map-get($map: v.$color, $key: "light-black");
        }

        span {
          font-size: 0.8em;
          color: map-get($map: v.$color, $key: "dark-gray");
        }

        .button-group {
          margin-top: 10px;

          .btn {
            background-color: map-get($map: v.$color, $key: "edit");
            color: white;
            border: none;
            padding: 4px 8px;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 3px;
            font-size: 0.8em;
          }

          .btn.delete {
            background-color: #dc3545;
          }
        }
      }
    }
  }
  * {
    scrollbar-width: none;
    scrollbar-color: #45a049 #add8e6;
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #add8e6;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #45a049;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
}
