<nav class="nav">
  <a href="/" class="nav-logo to-link">
    <img src="/assets/img/logos/logo-fix.png" alt="GoBiz Logo" />
    <span>GoBiz</span>
  </a>
  <div class="nav-main">
    <div class="search">
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="text" placeholder="Search in GoBiz" />
    </div>
    <div class="links">
      <a class="to-link" href="/">Beranda</a>
      <a class="to-link" href="/catalog">Catalog</a>
      <a class="to-link" href="/contact">Contact</a>
      <a class="to-link" href="/product-detail">Product Detail</a>
      <a class="to-link" href="#">Layanan</a>
      <a class="to-link" href="#">BizTips</a>
    </div>
  </div>
  <div class="nav-others">
    <i class="fa-solid fa-cart-shopping"></i>
    <a class="to-link" href="/dashboard">
      <i class="fa-solid fa-store"></i>
    </a>
    <a class="to-link to-login" href="/login">
      <i class="fa-solid fa-user"></i>
    </a>
    <i class="fa-solid fa-right-from-bracket logout"></i>
  </div>
</nav>
