@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

@mixin hero() {
  padding: 0 v.$padding-horizontal-main v.$padding-vertical-main;
  border-radius: 1.6vw;

  .swiper {
    --swiper-pagination-color: #34a0a4;

    @include m.flex();
    width: 100%;
    height: 60vh;
    border-radius: 1.6vw;
    position: relative;

    &-wrapper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        @include m.flex();
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .swiper-nav-prev,
    .swiper-nav-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 2;

      i {
        color: #34a0a4;
        font-size: 2.6vw;
        transition: all ease-out 0.4s;
      }

      &:hover {
        i {
          color: #0b787c;
        }
      }
    }

    .swiper-nav-prev {
      left: 1.2vw;
    }

    .swiper-nav-next {
      right: 1.2vw;
    }
  }
}
