@use "./../../helpers/mixins" as m;
@use "./../../helpers/variables" as v;

.navigation {
  width: v.$width-sidebar;
  padding: 0 v.$px-layout 20px;
  border-right: 1.5px solid #ddd;
  @include m.flex($direction: column, $justify: flex-start);
  height: 100%;

  &-logo {
    width: 100%;
    height: v.$height-topbar;
    @include m.flex($justify: space-between);
    border-bottom: #ddd solid 1.5px;

    a {
      @include m.flex();
      gap: 0.2vw;
      text-decoration: none;

      img {
        width: 2.6vw;
        height: auto;
        object-fit: cover;
      }

      span {
        margin-top: 4px;
        font-family: v.$grandstander;
        font-size: 2.2vw;
        line-height: 100%;
        font-weight: 200;
        color: map-get($map: v.$color, $key: "dark-gray");
        text-transform: uppercase;
      }
    }
    
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
      font-size: 25px;
      cursor: pointer;
    }
  }

  &-nav {
    padding-top: 24px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: 0.25s ease;
      color: map-get($map: v.$color, $key: "dark-gray");
      font-family: v.$vietnam;
      margin-bottom: 1vw;

      * {
        transition: 0.25s ease;
      }

      i {
        margin-right: 0.75rem;
        font-size: 1.25em;
        flex-shrink: 0;
      }

      & + a {
        margin-top: 1.25rem;
      }

      &:hover,
      &:focus {
        transform: translateX(4px);
        color: map-get($map: v.$color, $key: "light-black");
      }
    }
  }
}
