<aside class="navigation">
  <div class="navigation-logo">
    <a href="/" class="nav-logo">
      <img src="/assets/img/logos/logo-fix.png" alt="GoBiz Logo" />
      <span>obiz</span>
    </a>
    <span class="material-symbols-outlined"> left_panel_close </span>
  </div>

  <div class="navigation-nav">
    <a href="/dashboard" data-menu="dashboard" class="menu-item to-link">
      <i class="ph ph-gauge"></i>
      <span>Dashboard</span>
    </a>
    <a
      href="/management-product"
      data-menu="management-product"
      class="menu-item to-link"
    >
      <i class="ph ph-storefront"></i>
      <span>Management Product</span>
    </a>
    <a href="/map" data-menu="map" class="menu-item to-link">
      <i class="ph ph-map-pin-area"></i>
      <span>Map</span>
    </a>
    <a class="logout" href="#">
      <i class="ph ph-sign-out"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>
