@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;
@use "./crud-categories" as crud-categories;

.management-product-categories {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar topbar"
    "sidebar main";

  .topbar {
    grid-area: topbar;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: main;
    padding: v.$py-content v.$px-layout;
    width: 100%;
    min-height: 100vh;
    @include m.flex(
      $direction: column,
      $align: flex-start,
      $justify: flex-start
    );
    gap: v.$py-content * 1.1;

    &-header {
      width: 100%;
      @include m.flex($justify: space-between);

      .title {
        font-size: 2.4vw;
      }

      .add-new {
        border: 0.1vw solid map-get($map: v.$color, $key: "dark-gray");
        padding: 0.6vw 0.9vw;
        border-radius: 0.4vw;
        @include m.flex();
        gap: 0.2vw;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 2;
        transition: color 0.4s ease-out;
        text-decoration: none;
        color: map-get($map: v.$color, $key: "dark-gray");

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: map-get($map: v.$color, $key: "dark-gray");
          z-index: -1;
          transition: transform 0.4s ease-out;
          transform: scaleY(0);
          transform-origin: bottom center;
        }

        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
          font-size: 20px;
          transition: transform 0.4s ease-out;
        }

        &:hover,
        &:focus {
          color: #fff;
          transition: color 0.4s ease-out;

          &::after {
            transform: scaleY(1);
            transition: transform 0.4s ease-out;
            transform-origin: top center;
          }

          .material-symbols-outlined {
            transform: rotate(180deg);
            transition: transform 0.4s ease-out;
          }
        }
      }
    }

    &-main {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(11vw, 1fr));
      gap: 1.2vw;
      grid-auto-rows: 1fr;

      .item {
        @include m.flex($direction: column, $justify: flex-start);
        padding: 1.6vw;
        border: 0.1vw solid map-get($map: v.$color, $key: "dark-gray");
        gap: 5px;
        position: relative;

        i {
          font-size: 1.9vw;
        }

        &-name {
          text-align: center;
        }

        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
          font-size: 22px;
          position: absolute;
          z-index: 2;
          top: 8%;
          right: 6%;
          cursor: pointer;
          border: map-get($map: v.$color, $key: "dark-gray") solid 0.1vw;
          border-radius: 0.2vw;
        }

        .toggle {
          opacity: 0;
          position: absolute;
          z-index: 2;
          top: 8%;
          right: 23.5%;
          background-color: map-get($map: v.$color, $key: "dark-cream");
          color: map-get($map: v.$color, $key: "dark-gray");
          @include m.flex($direction: column, $align: flex-start);
          transition: opacity 0.25s ease-out;

          &-option {
            width: 100%;
            padding: 0.4vw 2vw 0.5vw 1vw;
            border: map-get($map: v.$color, $key: "dark-gray") solid 0.1vw;
            cursor: pointer;
            text-decoration: none;
            color: map-get($map: v.$color, $key: "dark-gray");

            &:nth-child(1) {
              border-bottom-width: 0;
              border-top-left-radius: 0.2vw;
              border-top-right-radius: 0.2vw;
            }

            &:nth-child(2) {
              border-bottom-left-radius: 0.2vw;
              border-bottom-right-radius: 0.2vw;
            }

            &:hover {
              background-color: map-get($map: v.$color, $key: "dark-gray");
              color: #fff;
            }
          }

          &.active {
            opacity: 1;
            transition: opacity 0.25s ease-out;
          }
        }
      }
    }
  }
}

.management-product-categories-insert,
.management-product-categories-update {
  @include crud-categories.categories-crud();
}
