@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

@mixin card($bg-color, $color) {
  background-color: $bg-color;
  border-radius: 1.6vw;
  padding: 2.4vw;

  p {
    color: $color;
  }

  h1 {
    color: #fff;
    font-size: 3.525vw;
    margin: 1vw 0;
  }

  button {
    border: 0.1vw solid $color;
    background-color: transparent;
    color: $color;
    padding: 1.15vw;
    border-radius: 10vw;
    cursor: pointer;
    font-size: 97%;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: all 0.4s ease-in-out;

    &::after {
      content: "";
      background-color: $color;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      transform: scaleY(0);
      transform-origin: bottom center;
      transition: transform 0.4s ease-in-out;
    }

    &:hover,
    &:focus {
      color: #fff;

      &::after {
        transform-origin: top center;
        transform: scaleY(1);
      }
    }
  }
}

@mixin join() {
  padding: 0 v.$padding-horizontal-main v.$padding-vertical-main;

  .card1-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2vw;

    .card1 {
      @include card(
        $bg-color: map-get($map: v.$color, $key: "light-black"),
        $color: map-get($map: v.$color, $key: "light-cyan")
      );
    }

    .card2 {
      @include card(
        $bg-color: map-get($map: v.$color, $key: "light-cyan"),
        $color: map-get($map: v.$color, $key: "light-black")
      );
    }
  }
}
